<%- include('partials/header.ejs') %> 
<body>
    <%- include('partials/navbar-home.ejs') %>
    <div class="container">
        <br>
        <br>
        <h2>Perguntas recentes</h2>
        <hr>
        <br>
        <br>

        <% questions.forEach(question => { %>
            <div class="card">
                <div class="card-body">
                  <h4> <%- question.title %>  </h4>
                  <p> <%- question.description %>  </p>
                </div>
                <div class="card-footer">
                  <a href="<%= `/question/${question.id}` %> " class="btn btn-success">Responder</a>
                </div>
              </div>
              <br>
              <br>
        <% }) %> 

    </div>
    
    
</body>
<%- include('partials/scripts.footer.ejs') %> 